pkgbase = chatgpt-native-bin
	pkgdesc = Official OpenAI ChatGPT desktop app, repackaged for Arch Linux
	pkgver = 26.818.21641
	pkgrel = 1
	url = https://learn.chatgpt.com/docs/linux/linux-app
	arch = x86_64
	arch = aarch64
	license = custom
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libcups
	depends = libdrm
	depends = libglvnd
	depends = libnotify
	depends = libusb
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = xz
	depends = xdg-utils
	optdepends = git: repository integration
	optdepends = trash-cli: desktop trash integration
	optdepends = vulkan-driver: hardware Vulkan implementation
	provides = chatgpt=26.818.21641
	conflicts = chatgpt
	options = !debug
	options = !strip
	source_x86_64 = chatgpt_26.818.21641_amd64.deb::https://persistent.oaistatic.com/codex-app-prod/linux/deb/pool/main/c/chatgpt/chatgpt_26.818.21641_amd64.deb
	sha256sums_x86_64 = e138b8e8008f2b90071e1b19f9cef1125c5ed7710e68fd9c87e6655285d68f6a
	source_aarch64 = chatgpt_26.818.21641_arm64.deb::https://persistent.oaistatic.com/codex-app-prod/linux/deb/pool/main/c/chatgpt/chatgpt_26.818.21641_arm64.deb
	sha256sums_aarch64 = cc9eb5823f188e6e769ca5b7f79ef98cb26286e190037e030f48e9145d9c1d45

pkgname = chatgpt-native-bin
