pkgbase = chatgpt-native-bin
	pkgdesc = Official OpenAI ChatGPT desktop app, repackaged for Arch Linux
	pkgver = 26.917.61114
	pkgrel = 1
	url = https://learn.chatgpt.com/docs/linux/linux-app
	arch = x86_64
	arch = aarch64
	license = custom
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libcups
	depends = libdrm
	depends = libglvnd
	depends = libnotify
	depends = libusb
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = xz
	depends = xdg-utils
	optdepends = git: repository integration
	optdepends = trash-cli: desktop trash integration
	optdepends = vulkan-driver: hardware Vulkan implementation
	provides = chatgpt=26.917.61114
	conflicts = chatgpt
	options = !debug
	options = !strip
	source_x86_64 = chatgpt_26.917.61114_amd64.deb::https://persistent.oaistatic.com/codex-app-prod/linux/deb/pool/main/c/chatgpt/chatgpt_26.917.61114_amd64.deb
	sha256sums_x86_64 = 7bea2eff4a46abe0f28e39ec65eb6e6e51c97bbcdad89d25abe5bec4318955c9
	source_aarch64 = chatgpt_26.917.61114_arm64.deb::https://persistent.oaistatic.com/codex-app-prod/linux/deb/pool/main/c/chatgpt/chatgpt_26.917.61114_arm64.deb
	sha256sums_aarch64 = 6421f17923658107121d9fe1a63deaa6cd6d9d066be2fdab972b874c0dd5ab1b

pkgname = chatgpt-native-bin
