pkgbase = chatgpt-native-bin
	pkgdesc = Official OpenAI ChatGPT desktop app, repackaged for Arch Linux
	pkgver = 26.820.60940
	pkgrel = 1
	url = https://learn.chatgpt.com/docs/linux/linux-app
	arch = x86_64
	arch = aarch64
	license = custom
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libcups
	depends = libdrm
	depends = libglvnd
	depends = libnotify
	depends = libusb
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = xz
	depends = xdg-utils
	optdepends = git: repository integration
	optdepends = trash-cli: desktop trash integration
	optdepends = vulkan-driver: hardware Vulkan implementation
	provides = chatgpt=26.820.60940
	conflicts = chatgpt
	options = !debug
	options = !strip
	source_x86_64 = chatgpt_26.820.60940_amd64.deb::https://persistent.oaistatic.com/codex-app-prod/linux/deb/pool/main/c/chatgpt/chatgpt_26.820.60940_amd64.deb
	sha256sums_x86_64 = 31d956a8c6c515f8d87e0b7acd9ec919f7e685ba59331b4b97aa45f853afdfd7
	source_aarch64 = chatgpt_26.820.60940_arm64.deb::https://persistent.oaistatic.com/codex-app-prod/linux/deb/pool/main/c/chatgpt/chatgpt_26.820.60940_arm64.deb
	sha256sums_aarch64 = 8f4dacbff5f054a4f69c2a021f1396c57976972829a61041febac1b423f27c86

pkgname = chatgpt-native-bin
